@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a192f;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #041021;
    font-family: 'Noto Sans Mono', monospace;
    color: #64ffda;
    padding: 0 2vw;
}

.nav-div-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 40px;
}

.nav-div-two{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-div-two a{
    padding: 4px 8px;
    text-decoration: none;
    color: #64ffda;
}

.nav-div-two a:hover{
    border: 2px dashed #64ffda;
}

.hamburger{
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    cursor: pointer;
}

.bar:nth-child(1){
    margin-bottom: 6px;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: #64ffda;
    transition: 0.2s;

}
.bar:nth-child(2){
    margin-bottom: 6px;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: #64ffda;
}
.bar:nth-child(3){
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #64ffda;
    transition: 0.2s;
}

.main-section{
    padding: 120px 30px 30px;
    margin: 0 7vw;
}


/* About section */

.about{
    width: 100%;
    display: flex;
}

.about-div-one{
    width: 50%;
}

.my-name-is{
    font-family: 'Noto Sans Mono', monospace;
    color: #64ffda;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.omar-mahat{
    color: #7d96bd;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 5vw;
    font-weight: bold;
}

.what-i-do{
    color: #7d96bd;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2vw;
}

.short-assessment{
    color: #7d96bd;
    font-family: 'Nunito Sans', sans-serif;
}

.contact-btn{
    margin-top: 36px;
    padding: 14px 20px;
    font-size: 16px;
    background: transparent;
    color: #64ffda;
    border: 2px dashed #64ffda;
    width: 180px;
    transition: 0.5s;
}
.contact-btn:hover{
    background-color: #64ffda;
    color: #0a192f;
    cursor: pointer;
    /* transition: 0.5s; */
}

.about-div-two{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-div-two img{
    width: 80%;
}

/* skills */

.skills{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 80px;
    width: 100%;
    color: #7d96bd;
}

.skills-div-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-div-one h1{
    margin: 0 10px;
    color: #7d96bd;
    font-size: 3vw;
}

.skills-div-one > div{
    width: 10%;
    height: 1px;
    background-color: #18345d;
}

.skills-div-two{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    border-left: 1px solid #18345d;
}

.tabs {
    width: 20%;
}

.tab {
    font-family: 'Noto Sans Mono', monospace;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    color: #7d96bd;
    padding: 12px 10px;
    text-align: start;
    width: 100%;
}

.tab.active {
    border-left: 2px solid #64ffda;
    background-color: #072044;
    color: #64ffda;
}
.tab:hover {
    background-color: #072044;
}

.tabs-two{
    width: 75%;
    padding: 5px;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: flex;
    flex-wrap: wrap;
}

.tabcontent.active div {
    border: 1px solid #18345d;;
    width: 120px;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tabcontent.active div img{
    width: 60%;
}



/* Contact */

.contact-div{
    margin-top: 80px;
    width: 100%;
}

.contact-div-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-div-one h1{
    margin: 0 10px;
    color: #7d96bd;
    font-size: 3vw;
    font-family: 'Nunito Sans', sans-serif;
}

.contact-div-one > div{
    width: 10%;
    height: 1px;
    background-color: #18345d;
}
.contact-div-two{
    font-family: 'Nunito Sans', sans-serif;
    width: 70%;
    margin: auto;
    color: #7d96bd;
}

.contact-div-two-icons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.contact-div-two-icons a {
    font-size: 24px;
    color: #7d96bd;
}












.left-oriented-div{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.left-oriented-div a {
    color: #7d96bd;
}
.right-oriented-div{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 350px;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-oriented-div p{
    font-family: 'Noto Sans Mono', monospace;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    font-size: 14px;
    color: #7d96bd;
}

footer {
    margin-bottom: 16px;
    color: white;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
}


/* Media querries */

@media (max-width: 900px) {
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-div-two, .about-div-one{
        width: 100%;
    }
    .about-div-two img{
        width: 100%;
    }
}

@media (max-width: 700px) {
    .main-section{
        padding-left: 0;
        padding-right: 0;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .hamburger.active .bar:nth-child(2){
        display: none;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(5px) rotate(135deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-5px) rotate(-135deg);
        width: 50px;
    }

    .nav-div-two{
        padding-top: 40px;
        position: fixed;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #102b53;
        height: 90vh;
        top: 0;
        right: -100%;
        transition: 0.4s;
    }

    .nav-div-two.active{
        position: fixed;
        right: 0;
    }
    .omar-mahat, .what-i-do {
        font-size: 30px;
    }

    .right-oriented-div, .left-oriented-div{
        display: none;
    }

    .contact-div-one h1, .skills-div-one h1{
        font-size: 28px;
    }
    .contact-div-two, .skills-div-two{
        width: 100%;
    }
}

@media (max-width: 260px) {
    .contact-btn{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .skills-div-two{
        display: block;
        border: none;
    }
    .tabs{
        display: flex;
        width: auto;
        overflow: auto;
        margin-bottom: 20px;
    }
    .tab{
        min-width: max-content;
    }
    .tab.active{
        border-left: none;
    }
    .tabs-two{
        width: 100%;
    }
}

@media (min-width: 700px) {
    .contact-div-two-icons{
        display: none;
    }
}